    /* root */
:root{
    --color-black: #0f0f0f;
    --color-white: #fff;
    --color-gray: #d9d9d9;
    --color-gray-dark: #232323;
    --color-gray-light: #4d4d4d;
    --color-gray-light-bg: #bfbfbf;
    --color-yellow: #fccd03;
    --color-red: #c30000;
    --bg-color: var(--color-black);
    --line-color: var(--color-gray);
    --text-color: var(--color-gray);
    --link-color: var(--color-gray);

    /*font-size*/
    --font-regular:1.425rem;
    --font-small:0.875rem;
    --font-medium:3.25rem;
    --font-large:7.188rem;
    --font-xlarge:10rem;

    /* font-weight */
    --font-bold:400;


    /* animation */
    --transition--fade-in:cubic-bezier(.25,.1,.25,1);
    --transition--fad-out:cubic-bezier(.25,.1,0,1);

    /* border-radius */
    --border-raidus:50%;

    
}
    /* universial tag */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -ms-overflow-style:none;
    }
    body{
        font-family: "Unlock",sans-serif;
        cursor: default;
        margin: 0;

    }
    button{
        outline: 0;
        border: 0;
        cursor: pointer;
        background: transparent;
    }
    
    
    
    
    
    a{
        text-decoration: none;
        color:var(--link-color);
    }
    ul{
        margin: 0;
        padding-left: 0;
    }
    li{
        list-style-type: none;
    }
    /* section */
    .section{
        max-width: 1600px;
        height: auto;
        margin: 0 auto;
    }
    .section__container{
        max-width: 91.13rem;
        margin: 0 auto;
        text-align: center;
    }
    /* content title */
    .content__title{
        margin-top: 7.125rem;
    }
    /* line */
    .line{
        width: 100%;
        height: 1px;
        background-color: var(--color-gray);
    }



    /* main */
    #main_wrap{
        background-color: var(--bg-color);
        color: var(--text-color);
    }

    /*Home*/
    #home{
        max-width: 1600px;
        height: auto;
        margin:0 auto;
        padding: 1.2rem 1.2rem 1.8rem 1.2rem;
    }
    #home #header{
        width: 100%;
        height: 100%;
    }
    #home #header .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #home #header .navbar .navbar__logo{
        width: 20%;
        height: 200px;
    }
    #home #header .navbar .navbar__logo .logo{
        
        display: block;
        width: 100%;
        height: 100%;
    }
    #home #header .navbar .navbar__logo .logo img{
        
        width: 100%;
        height: 100%;
    }
    .smile__modal--btn{
        display: block;
        position: relative;
        left: 70px;
        
    }
    .smile__modal--btn .smile_bg{
        width: 100px;
        height: 100px;
        border-radius: var(--border-raidus);
        background-color: var(--color-yellow);

    }
    
    .smile__modal--btn .smile_bg::before{
        


    }
    .smile__modal--btn .smile_bg::after{
        content: "";
        background-image: url("../images/smile.png");
        background: no-repeat 0 0;
        

    }
    #home #header .navbar .navbar__menu{
        display:flex;
        width: 40%;
        font-size: var(--font-regular);
        justify-content: center;
    }
    #home #header .navbar .navbar__menu .navbar__menu__list{
        padding: 0.3rem;
        margin: 0.3rem;
        height: 100%;
    }
    #home #header .navbar .navbar__menu .navbar__menu__list a{
        display: block;
        width: 100%;
        height: 100%;
    }
    /* animation-header */
    #animationheader{
        font-size:9.5rem;
        line-height: 6.6rem;
        padding: 0 0  11.38rem;
    }
    .animationheader__title{
        width: 100%;
        height: 80vh;
        text-align: center;
        position: relative;
    }
    .animation__inner--left{
        
        margin-right: 50rem;
        
    }

    .animation__inner--right{
        position: relative;
        margin-left: 30rem;
    }
    .animation__inner--right .inner .animation__sub {
        display: inline-block;
        font-size: var(--font-regular);
        line-height: 1;
        position: absolute;
        top: 70%;

    }
    .push_down-circle {
        display: flex;
        border: 1px dashed #fff;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        position: absolute;
        left: 0;
        top: 300px;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        cursor: pointer;
        
    }
    .push_down-circle div{
        animation: floatingbtn 3s ease-in-out 0.1s infinite forwards;
    }
    @keyframes floatingbtn {
        0%{
            transform: translateY(0);
        }
        25%{
            transform: translateY(20px);
        }
        50%{
            transform: translateY(20px);
        }
        100%{
            transform: translateY(0);
        }
    }
    /* services */
    #services{
        
    }
    .subheader__title{
        line-height: 1.2;
        font-size:2.9rem;
        margin:2.5rem  8.375rem 0;
        padding-bottom:3.563rem;
    }
    .inner .animation__letter{
        
        display: inline-block;
        visibility:hidden;
        position: relative;
        visibility: visible;
        
    
        
    }
    .inner .animation__inner-box{
        display: inline-block;
        height: 100%;
        overflow: hidden;
    }
    .inner .animation__letter::after{
        content: attr(data-letter);
        position: absolute;
        top: 100%;
        left: 0;
        visibility: visible;
        

    }

    .animation__inner--left .animation__letter:nth-child(1){
        animation: upletter 1.5s 0.5s forwards;

    }
    .animation__inner--left .animation__letter:nth-child(2){
        animation: upletter 1.5s 0.7s forwards;
    }
    .animation__inner--left .animation__letter:nth-child(3){
        animation: upletter 1.5s 0.9s forwards;
    }
    .animation__inner--right .animation__letter:nth-child(1){
        animation: upletter 1.5s 1.7s forwards;
    }
    .animation__inner--right .animation__letter:nth-child(2){
        animation: upletter 1.5s 1.9s forwards;
    }
    .animation__inner--right .animation__letter:nth-child(3){
        animation: upletter 1.5s 2.1s forwards;
    }
    .animation__inner--right .animation__letter:nth-child(4){
        animation: upletter 1.5s 2.3s forwards;
    }
    .animation__inner--right .animation__letter:nth-child(5){
        animation: upletter 1.5s 2.5s forwards;
    }
    /* animation__letter keyframes  */
    @keyframes upletter {
        0%{

        }
        100%{
            visibility: hidden;
            transform: translate(0,-100%);
        }
    }
    
    /* services */  
    #services .content__title{
        transform: translateY(20%);
        opacity:0;
        
    }
    #services .content__title.content__visible{
        opacity: 1;
        transform: translateY(0%);
        transition: all 0.6s ease-out ;
    }

    
    .content__title .animation__item{
        width: 100%;
        height: auto;
        font-size: 9rem;
    }
    .content__title .content__desc{
        margin-top: 1.2rem;
        font-size: var(--font-regular);
        
    }
    .content__title .content__desc a{
        text-decoration: underline;
    }
    .service__item{
        margin-top: 76px;
        text-transform: uppercase;
        padding-left: 2.8rem;
        margin-top: 3.2rem;
        padding-top: 5.4rem;
        opacity: 0;

    }
    .service__item.service__visible{
        opacity: 1;
        transition: all 0.6s ease-out;
    }

    .service__item .glu-circle{
        position: relative;
        border: 1px solid var(--color-gray);
        border-radius: 50%;
        width: 32.25rem;
        height: 32.25rem;
        margin-top: -5.4rem;
        margin-left: -2.8rem;
        
    }
    .glu__circle__container{
        display: flex;
        justify-content: center;
    }
    .service__item .glu-circle a{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    /* numbers */
    #numbers{
        position: relative;
        text-transform: uppercase;
        padding-bottom:  11rem;
    }
    #numbers h3{
        font-size: var(--font-regular);
        display: flex;
        position: absolute;
        top: 20px;
    }
    #numbers h3 span{

        margin-left: 100px;
        
    }
    #numbers .numbers__items{
        margin-top: 11.88rem;
    }
    #numbers .numbers__items .numbers__item{
        border: 1px solid var(--color-gray);
        width:  53.31rem;
        height:  32.63rem;
        position: relative;
        background-color: var(--color-black);

    
    }
    #numbers .numbers__items .numbers__item:nth-child(1){
        margin: auto;
        
    }
    #numbers .numbers__items .numbers__item:nth-child(2){
        margin: -4.4rem 0 0 37.63rem;
        z-index: 1;
    }
    #numbers .numbers__items .numbers__item:nth-child(3){
        margin-top: -6rem;
    }
    #numbers .numbers__items .numbers__item:nth-child(4){
        margin: -25.625rem 0 0 46rem ;
        z-index: 1;
    }
    #numbers .numbers__items .numbers__item:nth-child(5){
        margin: -11.75rem 0 0 112px;
        
    }
    #numbers .numbers__items .numbers__item .numbers__label{
        position: absolute;
        top: 15px;
        left: 25px;
        font-size: var(--font-regular);
    }
    #numbers .numbers__items .numbers__item span{
        display: block;
        font-size:var(--font-large);
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    /*geos*/
    #geos{
        padding-bottom: 202px;
        position: relative;
    }
    #geos .animation__item{
        transform:translateY(20%);
        opacity: 0;
    }
    #geos .content__title .animation__item.slowin__animation__item:nth-child(1){
        opacity: 1;
        transform: translateY(0%);
        transition: all 0.3s ease-out;
    }
    #geos .content__title .animation__item.slowin__animation__item:nth-child(2){
        opacity: 1;
        transform: translateY(0%);
        transition: all 0.3s ease-out;
        position: relative;
    }
    
    #geos .content__title .animation__item .animation__inner--first{
        position: relative;
        left: -190px;
    }
    #geos .content__title p {
        position: absolute;
        top: 30px;
        font-size: var(--font-regular);
    }
    .line__caption{
        position: relative;
        top: 20px;
        left: 0;
        display: flex;
        width: 100%;
        font-size: var(--font-regular);
    }
    .line__caption .line__title{
        text-align: left;
        width:20%;
        margin-right: 25px;
    }
    .line__caption .line__socials{
        display: flex;
    }
    .line__caption .line__socials li{
        margin-right: 10px;
        width: 40px;
        height: 40px;
        color: black;
        background-color: var(--color-gray);
        border-radius: 50%;
        align-self: center;
        position: relative;
    }
    .line__caption .line__socials li{
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    .line__caption .line__socials li:last-child{
        margin-right: 0;
    }
    /* map */
    #map{
        width: 100%;
        padding-bottom: 11.15rem;
    }
    #map .map__container{
        position: relative;
        width: 100%;
        height:110vh;
        background: url("../images/map.png") no-repeat 50% center;
        background-size: contain;
        opacity: 0;
        transform: translateY(20%);
    }
    #map .map__container .map.slowin__Individual__map{
        animation:slowinmap  0.6s forwards ease-out;
        opacity: 0;
        
    }
    #map .map__container .map.slowin__Individual__map:nth-child(1){
        animation-delay: 0.4s;
        
    }
    #map .map__container .map.slowin__Individual__map:nth-child(2){
        animation-delay: 0.6s;
        
    }
    #map .map__container .map.slowin__Individual__map:nth-child(3){
        animation-delay: 0.8s;
        
    }
    #map .map__container .map.slowin__Individual__map:nth-child(4){
        animation-delay: 1s;
        
    }
    #map .map__container .map.slowin__Individual__map:nth-child(5){
        animation-delay: 1.2s;
        
    }
    #map .map__container .map.slowin__Individual__map:nth-child(6){
        animation-delay: 1.4s;
        
    }
    @keyframes slowinmap {
        from{
            
            opacity: 0;
        }
        to{
            opacity: 1;
        }
        
    } 
    #map .map__container.slowin__animation__item{
        opacity: 1;
        transform: translateY(0%);
        transition: all 0.6s ease-out;
    }
    #map .map__container .map{
        border: 1px solid var(--color-gray);
        border-radius: 4px;
        width:  15.5rem;
        height: 6.9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #map .map__container .map::after{
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid var(--color-gray);
        
    }
    #map .map__container .map .map-border{
        
        position: absolute;
        top: 106px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid var(--color-black);
        z-index: 2;
    }
    

    
    #map .map__container  .north__america{
        transform: translate(300px,250px);
    }
    #map .map__container  .latin__america{
        transform: translate(480px,500px);
    }
    #map .map__container  .europe{
        transform: translate(750px,50px);
    }
    #map .map__container  .mena__region{
        transform: translate(950px,100px);
    }
    #map .map__container  .russia__cis{
        transform: translate(1100px,-200px);
    }
    #map .map__container  .asia__pacific{
        transform: translate(1400px,-450px);
    }
    /* parteners */
    #parteners .animation{
        
        opacity: 0;
    }
    #parteners .inner--first{
        display: block;
    }
    #parteners .inner--first.first__slowin{
        animation: slowin 0.6s 0.2s forwards ease-out;
        
    }
    #parteners .inner--second.second__slowin{
        animation: slowin 0.6s 0.7s forwards ease-out;
    }
    
    @keyframes slowin {
        from{
            transform: translateY(30%);
        }
        to{
            opacity: 1;
        }
    }
    
    #parteners .animation__item .inner--second{
        font-size: var(--font-regular);
    }
    #parteners .animation__item .inner--second a{
        text-decoration: underline;
    }
    .parteners__items{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        margin-top: 3.2rem;
    
    }   
    .parteners__items .parteners__item{
        opacity: 0;
    }
    .parteners__items .parteners__item.parteners__item__animation{
        animation: slowpartener 0.6s forwards ease-out;
        
    }
    .parteners__items .parteners__item.parteners__item__animation:nth-child(1){
        animation-delay: 0.2s;
    }
    .parteners__items .parteners__item.parteners__item__animation:nth-child(2){
        animation-delay: 0.4s;
    }
    .parteners__items .parteners__item.parteners__item__animation:nth-child(3){
        animation-delay: 0.6s;
    }
    .parteners__items .parteners__item.parteners__item__animation:nth-child(4){
        animation-delay: 0.8s;
    }
    .parteners__items .parteners__item.parteners__item__animation:nth-child(5){
        animation-delay: 1s;
    }
    .parteners__items .parteners__item.parteners__item__animation:nth-child(6){
        animation-delay: 1.2s;
    }
    .parteners__items .parteners__item.parteners__item__animation:nth-child(7){
        animation-delay: 1.4s;
    }
    .parteners__items .parteners__item.parteners__item__animation:nth-child(8){
        animation-delay: 1.6s;
    }
    .parteners__items .parteners__item.parteners__item__animation:nth-child(9){
        animation-delay: 2s;
    }
    .parteners__items .parteners__item.parteners__item__animation:nth-child(10){
        animation-delay: 2.2s;
    }
    .parteners__items .parteners__item.parteners__item__animation:nth-child(11){
        animation-delay: 2.4s;
    }
    .parteners__items .parteners__item.parteners__item__animation:nth-child(12){
        animation-delay: 2.6s;
    }
    @keyframes slowpartener {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    
    .parteners__items .parteners__item{
        display: flex;
        width: 25%;
        height: auto;
        justify-content: center;
        align-items: center;
    
    }
    .parteners__items .parteners__item img{
        width: 70%;
        
    }
    #parteners{
        padding-bottom: 12.4rem;
    }
    #parteners .parteners__items .parteners__item:nth-child(1) .parteners__line{
        position: absolute;
        top: 10px;
        left: 364.52px;
        width: 1px;
        height: 100%;
        background-color: var(--color-gray);
    } 
    #parteners .parteners__items .parteners__item:nth-child(2) .parteners__line{
        position: absolute;
        top: 10px;
        left: 729.04px;
        width: 1px;
        height: 100%;
        background-color: var(--color-gray);
    }
    #parteners .parteners__items .parteners__item:nth-child(3) .parteners__line{
        position: absolute;
        top: 10px;
        right: 364.52px;
        width: 1px;
        height: 100%;
        background-color: var(--color-gray);
    }
    #parteners .parteners__items .parteners__item:nth-child(5) .parteners__line{
        position: absolute;
        top: 255.16px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-gray);
    }
    #parteners .parteners__items .parteners__item:nth-child(9) .parteners__line{
        position: absolute;
        top: 510.32px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-gray);
    }
    /* footer */
    #footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding: 4.8rem 0 5.4rem;
        background-color: var(--color-gray);
        color: var(--color-black);
    }
    #footer .hello__container{
        
        width: 87.75%;
        margin: auto;
        text-align: center; 
    }
    #footer .hello__container .footer__title{
        width: 100%;
        font-size: var(--font-xlarge);
        margin: 3rem 0;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
    #footer .hello__container .line{
        width: 100%;
        height: 1px;
        background-color: var(--color-black);
    }
    #footer .hello__container .input__container{
        width: 100%;
        padding:2.5rem 0;
    }
    #footer .hello__container .input__container input[type="text"]{
        width: 100%;
        text-align: center;
        display: block;
        background: transparent;
        border: none;
        font-family:"Unlock",sans-serif; ;
        font-size: var(--font-regular);
        transition:all 500ms var(--transition--fade-in);
        
    }
    #footer .hello__container .input__container input::placeholder{
        color: var(--color-black);
        transition:all 500ms var(--transition--fade-in);
    }
    #footer .hello__container .input__container input[type="text"]:focus{
        
        outline: none;  
    }
    #footer .hello__container .input__container input[type="text"]:focus::placeholder{ 
        color: transparent;
        transition:all 500ms var(--transition--fad-out);
    }
    #footer .hello__container .step__container{
        width: 100%;
        padding-top: 1.875rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        
    }
    #footer .hello__container .step__container .back__btn{
        color: var(--color-black);
        font-size: var(--font-regular);
        height: 100%;
        
    }
    #footer .hello__container .step__container .step__btn{
        position:relative;
        left: 100px;
        width: 210px;
        height: 210px;
        border: 1px solid var(--color-black);
        border-radius: var(--border-raidus);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer .hello__container .step__container .step_bg--circle-black {
        width: 160px;
        height: 160px;
        border-radius: var(--border-raidus);
        background-color: var(--color-black);
        color: var(--color-gray);
    
    
    }
    #footer .hello__container .step__container .step__btn::after{
        
    }
    .hello__container .step__container .hello__dots{
        display: flex;
        height: 100%;
    }
    .hello__container .step__container .hello__dots .hello__dot{
        width: 3rem;
        height: 0.2rem;
        background-color:var(--color-gray-light-bg);
        border-radius: 0.1rem;
        margin-right: 20px;
    }
    .hello__container .step__container .hello__dots .hello__dot:last-child{
        margin-right: 0;
    }
    #footer .footer__bottom{
    
        width: 87.75%;
        text-align: center;
        margin: auto;
        text-transform: uppercase
    }
    #footer a{
        color: var(--color-black);
    }
    #footer .footer__bottom .footer__bottom__row1{

        display: flex;
        height: 70px;
        align-items: flex-end;
        font-size: 1.25rem;
    }   
    #footer .footer__bottom .footer__bottom__row1 .footer__row1__col1{
        width: 30%;
        margin-right: 20px;
        text-align: left;
    }
    #footer .footer__bottom .footer__bottom__row1 .footer__row1__col2{
        display: flex;
        
    }
    #footer .footer__bottom .footer__bottom__row1 .footer__row1__col2 li{
        margin: 0 0.5rem;
        padding: 0 0.5rem;

    }
    .footer__bottom .line{
        margin-top: 1.25rem;
        background-color: var(--color-black);
    }    
    #footer .footer__bottom .footer__bottom__row2{
        padding-top: 1.25rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.25rem;
    }
    #footer .footer__bottom .footer__bottom__row2 .footer__row2__col3{
        display: flex;
        position: relative;
        align-content: center;
    
    }
    .footer__bottom__row2 .footer__row2__col3 li:last-child{
        margin-left: 0.9rem;
    }
    .footer__bottom__row2 .footer__row2__col3 li:last-child::before{
        content: "";
        width: 0.1rem;
        height: 0.1rem;
        border: 1px solid var(--color-black);
        background-color: var(--color-black);
        border-radius: var(--border-raidus);
        position: absolute;
        left: 55%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
